tests/results/
scripts/results/
apps/methanation/results/
apps/methanation/figures/
apps/plug_flow/results/
apps/plug_flow/figures/
src/optimization/OLD_methanation
src/optimization/OLD_plug_flow
tmp/
notes/
scripts/
*.vtu
*.pvd
*.vtr

# Safeguard
vendor/
HSL_jll*/
